<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/amin.jpg);">
    <div class="bradcumbContent">
        <h2><strong>{{ currentUser.username }}<br><br></strong> Profile</h2>

    </div>
</section>
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->

        <!-- /Breadcrumb -->
        <br><br><br>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">

                            <img src="{{currentUser.imageUrl}}" alt="Admin" class="rounded-circle" width="150">

                            <div class="mt-3">
                                <h4> {{ currentUser.username }}</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm"> {{ currentUser.lastname }}</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mt-3">

                                    <strong class="dropdown-item-icon mdi mdi-cart text-primary me-2">ANNONCE</strong>
                                    <hr>
                                    <strong class="dropdown-item-icon mdi mdi-heart-outline text-primary me-2" routerLink="/favoris">FAVORIS</strong>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 ">
                                {{ currentUser.firstname }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 ">
                                {{ currentUser.lastname }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 ">
                                {{ currentUser.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 ">
                                {{ currentUser.phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 ">
                                {{ currentUser.city }}
                            </div>
                        </div>
                        
                        <hr>
                        <button mat-button (click)="openDialog()"><mat-icon>edit</mat-icon>edit</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
