<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/pic1.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Favoris</h2>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>
<ng-container>
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of annonces; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.titre}}</td>
                            <td><img style="width: 120px;" src="{{item.imageUrl}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <td style="width: 12%;">{{item.date_ajout}}</td>
                            
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger">Delete<i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button routerLink="/shop" class="btn btn-primary">Shop More</button></td>
                         
                         
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
<div class="owl-carousel owl-theme">
    <div> Your Content </div>
    <div> Your Content </div>
    <div> Your Content </div>
    <div> Your Content </div>
    <div> Your Content </div>
    <div> Your Content </div>
    <div> Your Content </div>
  </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>