<div class="cancel-btn">
    <strong><mat-icon mat-dialog-close color="warn">cancel</mat-icon></strong>

</div>
<h1 style="margin-left: 40px;" mat-dialog-title>
    <mat-icon>edit</mat-icon> Edit-profil </h1>

<hr>
<div mat-dialog-content>

    <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput>
    </mat-form-field>
    <!-- <div>
        <mat-radio-button class="example-radio-button" *ngFor="let role of rolelist" [value]="role">
            {{role}}
        </mat-radio-button>
     </div>-->
    <div mat-dialog-actions>

        <button mat-button color="warn">Enregistrer</button>
        <button style="margin-left: 5px;" mat-button color="primary" mat-dialog-close>close</button>
    </div>

</div>