<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/pic3.jpg);">
    <div class="">

    </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="OnOpenModal(null!, 'add')">Add Evenment <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading style-2">
                <p>See what’s new</p>
                <h2>Evenment Campingo</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="ablums-text text-center mb-70">
                <p>Découvrez chaque jour un nouveau lieu et vivez une nouvelle aventure pleine d'émotions avec Campigo, il ne vous reste plus qu'à partager avec nous</p>
            </div>
        </div>
    </div>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let evenment of evenments" class="col-md-6 col-xl-3">
            <section class="events-area section-padding-100">
                <div class="container">
                    <div class="row">
                        <!-- Single Event Area -->
                        <div class="col-12 col-md-6 col-lg-4 ">
                            <div class="single-event-area mb-30">
                                <div class="event-thumbnail" (click)="openDialog()">
                                    <img src="{{evenment?.imageUrl}}" alt="" />
                                    <!-- <mat-icon>favorite_border</mat-icon> -->
                                    <span class="btn-icon btn-like btn-unliked icon-heart-check"></span>
                                </div>
                                <div class="event-text">
                                    <h4>{{evenment?.title}}</h4>
                                    <div class="event-meta-data">

                                        <a href="#" class="event-date">{{evenment?.debut_event}}</a>
                                        <a href="#" class="event-date">{{evenment?.fin_event}}</a>
                                    </div>
                                    <button class="btn btn-primary" (click)=addtocart(evenment)>Liker</button>
                                  
                                  <a (click)="openDialog()" class="btn see-more-btn">Voir evenment</a>

                                    <div class="float-right btn-group btn-group-sm">
                                        <a *ngIf="showRandonneurBoard" (click)="OnOpenModal(evenment, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                        <a *ngIf="showRandonneurBoard" (click)="OnOpenModal(evenment, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddEvenment(addForm)">
                        <div class="form-group">
                           
                                 
                            <label for="titre">Title</label>
                            <input type="text" ngModel name="title" class="form-control" id="title" placeholder="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="email" ngModel name="description" class="form-control" id="description" placeholder="description" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">date Debut evennment</label>
                            <input type="date" ngModel name="debut_event" class="form-control" id="debut_event" placeholder="debut_event" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Date Fin evenment</label>
                            <input type="date" ngModel name="fin_event" class="form-control" id="fin_event" placeholder="fin_event" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid " type="submit " class="btn btn-primary ">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEvenment?.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group ">
                            <label for="title">Titre</label>
                            <input type="text" ngModel="{{editEvenment?.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="title">
                        </div>
                        <input type="hidden" ngModel="{{editEvenment?.id}}" name="id" class="form-control" id="id " placeholder="id ">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" ngModel="{{editEvenment?.description}}" name="description" class="form-control" id="description" placeholder="description">
                        </div>
                        <div class="form-group">
                            <label for="debut_event">Date Debut evennment</label>
                            <input type="date" ngModel="{{editEvenment?.debut_event}}" name="debut_event" class="form-control" id="debut_event" name="debut_event" placeholder="debut_event">
                        </div>
                        <div class="form-group">
                            <label for="fin_event">Date fin evennment</label>
                            <input type="date" ngModel="{{editEvenment?.fin_event}}" name="fin_event" class="form-control" id="fin_event" name="fin_event" placeholder="fin_event">
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel="{{editEvenment?.imageUrl}} " name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal " class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateEvenment(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Evennment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete Evennment {{deleteEvenment?.title}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteEvennment(deleteEvenment?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="evenments?.length==0 " class="col-lg-12 col-md-12 col-xl-12 ">
    <div class="alert alert-info " role="alert ">
        <h4 class="alert-heading ">NO Evenments!</h4>
        <p>No Employees were found.</p>
    </div>
</div>