<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/pic3.jpg);">
    <div class="">

    </div>
</section>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Annonce <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading style-2">
                <p>See what’s new</p>
                <h2>Shop En Campingo</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="ablums-text text-center mb-70">
                <p>Découvrez chaque jour un nouveau lieu et vivez une nouvelle aventure pleine d'émotions avec Campigo, il ne vous reste plus qu'à partager avec nous</p>
            </div>
        </div>
    </div>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let annonce of annonces" class="col-md-6 col-xl-3">
            <section class="events-area section-padding-100">
                <div class="container">
                    <div class="row">
                        <!-- Single Event Area -->
                        <div class="col-12 col-md-6 col-lg-4 " >
                            <div class="single-event-area mb-30">
                                <div class="event-thumbnail">
                                    <img src="{{annonce?.imageUrl}}" alt="" />
                                    <!-- <mat-icon>favorite_border</mat-icon> -->
                                    <span class="btn-icon btn-like btn-unliked icon-heart-check"></span>
                                </div>
                                <div class="event-text">
                                    <h4>{{annonce?.titre}}</h4>
                                    <div class="event-meta-data">
                                        <a href="#" class="event-place">{{annonce?.description}}</a>
                                        <a href="#" class="event-date">{{annonce?.date_ajout}}</a>
                                        
                                    </div>
                                   
                                    <button mat-fab aria-label="Example icon-button with a heart icon" (click)=addtocart(annonce)>
                                        <mat-icon>favorite</mat-icon>
                                      </button>
                                    <div class="float-right btn-group btn-group-sm">
                                       
                                        <a *ngIf="showRandonneurBoard" (click)="onOpenModal(annonce, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                        <a *ngIf="showRandonneurBoard" (click)="onOpenModal(annonce, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                    </div>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddAnnonce(addForm)">
                        <div class="form-group">
                            <label for="titre">Titre</label>
                            <input type="text" ngModel name="titre" class="form-control" id="titre" placeholder="titre" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="email" ngModel name="description" class="form-control" id="description" placeholder="description" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">date ajout</label>
                            <input type="date" ngModel name="date_ajout" class="form-control" id="date_ajout" placeholder="date_ajout" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Prix</label>
                            <input type="number" ngModel name="prix" class="form-control" id="prix" placeholder="prix" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editAnnonce?.titre}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="titre">Titre</label>
                            <input type="text" ngModel="{{editAnnonce?.titre}}" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="titre">
                        </div>
                        <input type="hidden" ngModel="{{editAnnonce?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="email" ngModel="{{editAnnonce?.description}}" name="description" class="form-control" id="description" placeholder="description">
                        </div>
                        <div class="form-group">
                            <label for="prix">Prix</label>
                            <input type="number" ngModel="{{editAnnonce?.prix}}" name="prix" class="form-control" id="prix" placeholder="prix">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" ngModel="{{editAnnonce?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="date_ajout">Date Ajout</label>
                            <input type="text" ngModel="{{editAnnonce?.date_ajout}}" name="date_ajout" class="form-control" id="date_ajout" name="date_ajout" placeholder="date_ajout">
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel="{{editAnnonce?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateAnnonce(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete Annonce {{deleteAnnonce?.titre}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteAnnonce(deleteAnnonce?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="annonces?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO Annonces!</h4>
        <p>No Employees were found.</p>
    </div>
</div>