<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Utilisateur <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let utilisateur of utilisateurs" class="col-md-6 col-xl-3">
            <input type="hidden" th:field="" />
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <img src={{utilisateur?.imageUrl}} alt="" class="img-fluid rounded-circle w-60">
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{utilisateur?.username}}</h5>
                        <p class="m-0">{{utilisateur?.email}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{utilisateur?.email}}</li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{utilisateur?.phone}}</li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>role : {{utilisateur?.roles}}</li>
                
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(utilisateur, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(utilisateur, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Utlisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">

                    <form name="form" (ngSubmit)="f.form.valid && onAddUser(addForm)" #f="ngForm" #addForm="ngForm" novalidate>
                        <div class="form-group">
                            <label>first name</label>
                            <input type="text" name="firstname" class="form-control" placeholder="Enter firstName" [(ngModel)]="form.firstname" required firstname #firstname="ngModel">

                        </div>
                        <div class="form-group ">
                            <label>last name</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Enter LastName " [(ngModel)]="form.lastname " required lastname #lastname="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter Username " [(ngModel)]="form.username" required username #username="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>Email address</label>
                            <input type="email" class="form-control" name="email" placeholder=" Enter E-mail " [(ngModel)]="form.email " required email #email="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="form.password " required password #password="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>phone</label>
                            <input type="text" class="form-control" name="phone" placeholder="Enter Phone " [(ngModel)]="form.phone " required phone #phone="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>City</label>
                            <input type="text" class="form-control" name="city" placeholder="Enter City " [(ngModel)]="form.city " required city #city="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>image Url</label>
                            <input type="text" class="form-control" name="imageUrl" placeholder="Enter imageUrl " [(ngModel)]="form.imageUrl " required imageUrl #imageUrl="ngModel">
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add User</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{edituser?.username}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" ngModel="{{edituser?.username}}" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="name">FirstName</label>
                            <input type="text" ngModel="{{edituser?.firstname}}" name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="firstname">
                        </div>
                        <div class="form-group">
                            <label for="name">LastName</label>
                            <input type="text" ngModel="{{edituser?.lastname}}" name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="lastname">
                        </div>
                        <input type="hidden" ngModel="{{edituser?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                        <!-- <input type="hidden" ngModel="{{edituser?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email"> -->
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" ngModel="{{edituser?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="email">password</label>
                            <input type="password" ngModel="{{edituser?.password}}" name="password" class="form-control" id="email" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" ngModel="{{edituser?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="phone">City </label>
                            <input type="text" ngModel="{{edituser?.city}}" name="city" class="form-control" id="city" placeholder="city">
                        </div>
                        <div class="form-group">
                            <label for="phone">City </label>
                        
                            </div>
                        <div class="form-group ">
                            <label>image Url</label>
                            <input type="text" ngModel="{{edituser?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="imageUrl">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete employee {{deleteuser?.username}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteUser(deleteuser?.id!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="utilisateurs?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO EMPLOYEES!</h4>
        <p>No Employees were found.</p>
    </div>
</div>