<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Annonce <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let Annonce of annonces" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src={{Annonce?.imageUrl}} alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>

                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{Annonce?.titre}}</h5>
                        <p class="m-0">{{Annonce?.categorie}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{Annonce?.description}}</li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{Annonce?.date_ajout}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(Annonce, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(Annonce, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">

                    <form name="form" (ngSubmit)="f.form.valid && onAddAnnonce(addForm)" #f="ngForm" #addForm="ngForm" novalidate>

                        <div class="form-group ">
                            <label>titre</label>
                            <input type="text" class="form-control" name="titre" placeholder="Enter titre " [(ngModel)]="form.titre " required titre #titre="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>description</label>
                            <input type="text" class="form-control" name="description" placeholder="Enter description " [(ngModel)]="form.description" required description #description="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>prix</label>
                            <input type="email" class="form-control" name="prix" placeholder=" Enter le prix " [(ngModel)]="form.prix " required prix #prix="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>phone</label>
                            <input type="text" class="form-control" name="phone" placeholder="Enter Phone " [(ngModel)]="form.phone " required phone #phone="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>adresse</label>
                            <input type="text" class="form-control" name="adresse" placeholder="Enter votre adresse " [(ngModel)]="form.adresse " required adresse #adresse="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>date ajout</label>
                            <input type="datetime-local" class="form-control" name="date_ajout" placeholder="Enter date_ajout " [(ngModel)]="form.date_ajout " required date_ajout #date_ajout="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>Categorie</label>
                            <input type="text" class="form-control" name="categorie" placeholder="Enter categorie " [(ngModel)]="form.categorie " required categorie #categorie="ngModel">
                        </div>
                        <div class="form-group ">
                            <label>image Url</label>
                            <input type="text" class="form-control" name="imageUrl" placeholder="Enter imageUrl " [(ngModel)]="form.imageUrl " required imageUrl #imageUrl="ngModel">
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add Annonce</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Annonce {{editannonce?.titre}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Titre</label>
                            <input type="text" ngModel="{{editannonce?.titre}}" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="titre">
                        </div>
                        <div class="form-group">
                            <label for="name">Description</label>
                            <input type="text" ngModel="{{editannonce?.description}}" name="description" class="form-control" id="description" aria-describedby="description" placeholder="description">
                        </div>
                        <div class="form-group">
                            <label for="name">Adresse</label>
                            <input type="text" ngModel="{{editannonce?.adresse}}" name="adresse" class="form-control" id="adresse" aria-describedby="adresse" placeholder="adresse">
                        </div>
                        <input type="hidden" ngModel="{{editannonce?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                        <!-- <input type="hidden" ngModel="{{edituser?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email"> -->
                        <div class="form-group">
                            <label for="date_ajout">Date Ajout</label>
                            <input type="datetime-local" ngModel="{{editannonce?.date_ajout}}" name="date_ajout" class="form-control" id="date_ajout" placeholder="date_ajout">
                        </div>
                        <div class="form-group">
                            <label for="phone">prix</label>
                            <input type="text" ngModel="{{editannonce?.prix}}" name="prix" class="form-control" id="prix" name="prix" placeholder="prix">
                        </div>
                        <div class="form-group">
                            <label for="email">categorie</label>
                            <input type="password" ngModel="{{editannonce?.categorie}}" name="categorie" class="form-control" id="categorie" placeholder="categorie">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" ngModel="{{editannonce?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="phone">image Url </label>
                            <input type="text" ngModel="{{editannonce?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="imageUrl">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateAnnonce(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete employee {{deleteannonce?.titre}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteAnnonce(deleteannonce?.id!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="annonces?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO EMPLOYEES!</h4>
        <p>No Employees were found.</p>
    </div>
</div>