<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/amin.jpg);">
    <div class="bradcumbContent">
        <h3><strong>Ajouter une annonce </strong> </h3>
    </div>
</section>

<mat-stepper style="padding-left: 200px; padding-right: 100px;">
    <mat-step>
        <form class="formStep">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Titre</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" style="size: 100px;"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Address 2</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. San Francisco">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="Ex. California">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Postal Code</mat-label>
                            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                            <mat-hint>{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <div style="padding-left: 300px;">
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>


    </mat-step>
    <mat-step label="Fill out your address">
        <form class="formStep">
            <h4>Images (0/10)</h4>
            <h5>La taille maximale d'une image est 4 Mo</h5>
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="files[]" id="js-upload-files" multiple>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                </div>
            </form>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperSend>Publier</button>
        </div>
    </mat-step>
</mat-stepper>