<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/pic1.jpg);">
    <div class="">
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Evenment <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading style-2">
                <p>See what’s new</p>
                <h2>Randonner En Campingo</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="ablums-text text-center mb-70">
                <p>Découvrez chaque jour un nouveau lieu et vivez une nouvelle aventure pleine d'émotions avec Campigo, il ne vous reste plus qu'à partager avec nous</p>
            </div>
        </div>
    </div>
<div class="blog-area section-padding-100">
    <div class="container" *ngFor="let randonner of randonners" >
        <div class="row">
            <div class="col-12 col-lg-9">
                <!-- Single Post Start -->
                <div class="single-blog-post ">
                    <!-- Post Thumb -->
                    <div class="blog-post-thumb mt-30">
                        <a href="#"><img src="assets/img/bg-img/pic1.jpg" alt=""></a>
                        <img src="{{randonner?.imageUrl}}" alt="" />
                        <!-- Post Date -->
                        <div class="post-date">

                            <span></span>
                            <span>{{randonner?.date}}</span>
                        </div>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <a href="#" class="post-title">{{randonner.adress}}</a>
                        <!-- Post Meta -->
                        <div class="post-meta d-flex mb-30">
                            <p class="post-author">By<a href="#"> {{randonner.difficult}}</a></p>
                            <p class="tags">in<a href="#"> {{randonner.cercuit}}</a></p>
                            <p class="tags"><a (click)="openDiagg()" >Participer</a></p>
                        </div>
                        <!-- Post Excerpt -->
                        <p>{{randonner.programme}}</p>
                        <hr>
                        <hr>
                        <a *ngIf="showRandonneurBoard" (click)="onOpenModal(randonner, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a *ngIf="showRandonneurBoard" (click)="onOpenModal(randonner, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                     
                    </div>
                  
                </div>
              
              </div>
             

        </div>
    </div>
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddRandonner(addForm)">
                        <div class="form-group">
                            <label for="titre">adress</label>
                            <input type="text" ngModel name="adress" class="form-control" id="title" placeholder="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">programme</label>
                            <input type="email" ngModel name="programme" class="form-control" id="description" placeholder="description" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">cercuit</label>
                            <input type="text" ngModel name="cercuit" class="form-control" id="debut_event" placeholder="debut_event" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">difficult</label>
                            <input type="text" ngModel name="difficult" class="form-control" id="fin_event" placeholder="fin_event" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">date</label>
                            <input type="date" ngModel name="date" class="form-control" id="fin_event" placeholder="fin_event" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid " type="submit " class="btn btn-primary ">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Randonner {{editRandonner?.adress}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group ">
                            <label for="title">Titre</label>
                            <input type="text" ngModel="{{editRandonner?.adress}}" name="adress" class="form-control" id="title" aria-describedby="emailHelp" placeholder="title">
                        </div>
                        <input type="hidden" ngModel="{{editRandonner?.id}}" name="id" class="form-control" id="id " placeholder="id ">
                        <div class="form-group">
                            <label for="description">programme</label>
                            <input type="text" ngModel="{{editRandonner?.programme}}" name="programme" class="form-control" id="description" placeholder="description">
                        </div>
                        <div class="form-group">
                            <label for="description">difficult</label>
                            <input type="text" ngModel="{{editRandonner?.difficult}}" name="programme" class="form-control" id="description" placeholder="description">
                        </div>
                        <div class="form-group">
                            <label for="description">cercuit</label>
                            <input type="text" ngModel="{{editRandonner?.cercuit}}" name="programme" class="form-control" id="description" placeholder="description">
                        </div>
                        <div class="form-group">
                            <label for="debut_event">Date Debut evennment</label>
                            <input type="date" ngModel="{{editRandonner?.date}}" name="date" class="form-control" id="debut_event" name="debut_event" placeholder="debut_event">
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel="{{editRandonner?.imageUrl}} " name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal " class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateRandonner(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Randonner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete Evennment {{deleteRandonner?.adress}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteRandonner(deleteRandonner?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="randonners?.length==0 " class="col-lg-12 col-md-12 col-xl-12 ">
    <div class="alert alert-info " role="alert ">
        <h4 class="alert-heading ">NO Evenments!</h4>
        <p>No Employees were found.</p>
    </div>
</div>
</div>
